
body{
    font-family: sans-serif;
    background-image:url('../images/circuitmob.png');
    background-size: cover;
    background-repeat: none !important;
}
.abclogo{
    width:12%;
    position: absolute;
}
.jiglogo{
    width:60%;
    margin-left:20%;
    position: absolute;
    margin-top: 4%;
}
.center-div
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80%;
  height: 50%;
  background-color: transparent;
  border-radius: 3px;
}
h1{
font-style: italic;
font-weight: 800;
font-size: 25px;
line-height: 20px;
margin-top: 10%;
text-align: center;
color: white;
text-shadow: #180ee6 0 0 15px;
}
h2{
    color:white;
    text-align: center;
    font-style: bold;
    font size:20px;
    font-style: italic;
    font-weight: bold;
    line-height: 22px;
   
}
.problemstatement{
    color:white;
    text-align: center;
    font-style: italic;
font-weight: 300;
font-size: 15px;
line-height: 32px;
text-align: center;
text-transform: capitalize;
}
.sidenav {
  height: 40%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #000000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  margin-left: 25%;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}



.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

  i{
      font-size: 39px;
      margin-top: 2%;
  }


  @media screen and (min-width:756px){
    body{
        background-image: url(../images/ipad bg.png)!important;
        background-size: cover;
        background-repeat: none;
    }
}
@media screen and (min-width:1000px){
  body{
      background-image: url(../images/ipad bg.png)!important;
      background-size: cover;
      background-repeat: none;
  }
  .abclogo{width: 5%;height: 7%;position: absolute;}
  .jiglogo{width: 25%;height: 15%;position: absolute;margin-left: 38%;}
i{font-size: 48px !important;}
.center-div{
position: absolute;
margin: auto;
top: 0;
right: 0;
bottom: 0;
left: 0;
width: 80%;
height: 50%;
background-color: transparent;
border-radius: 3px;
}
h1{
color:white;
font-family: Exo 2;
font-style: italic;
font-weight: 800;
font-size: 50px;
line-height: 40px;
text-align: center;
text-shadow: #180ee6 0 0 15px;
}
h2{
  color:white;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: 38px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
.problemstatement{
color:white;
text-align: center;
font-style: italic;
font-weight: 300;
font-size: 24px;
line-height: 32px;
text-align: center;
text-transform: capitalize;
}
}
@media screen and (min-width:1200px){
    body{
        font-family: sans-serif;
        background-image:radial-gradient(#050B2C 0%, #000000 100%);
        background-image: url('../images/circuit bg.png')!important;
        background-size: cover !important;
        background-repeat: no-repeat;
    }
    
        .abclogo{width: 5%;height: 7%;position: absolute;}
        .jiglogo{width: 25%;height: 15%;position: absolute;margin-left: 38%;}
    i{font-size: 48px !important;}
.center-div{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80%;
  height: 50%;
  background-color: transparent;
  border-radius: 3px;
}
h1{
    color:white;
    font-family: Exo 2;
    font-style: italic;
    font-weight: 800;
    font-size: 50px;
    line-height: 40px;
    text-align: center;
    text-shadow: #180ee6 0 0 15px;
    }
    h2{
        color:white;
        text-align: center;
        font-style: italic;
        font-weight: bold;
        font-size: 38px;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
    }
.problemstatement{
    color:white;
    text-align: center;
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    text-transform: capitalize;
}
}
